{% extends 'base.html' %}
{% block title %}Home - TripPlanner{% endblock %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Cormorant+Garamond:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
{% endblock %}

{% block content %}
<div id="explore-root"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/explore-map.js') }}"></script>
{% endblock %}
